.App {
  display: flex;
  gap: 50px;
}

.board {
  width: 402px;
  height: 402px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.row-board {
  width: 400px;
  height: 50px;
  display: flex;
  
}

.col-board {
  width: 50px;
  height: 50px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
  color: #fff;
}

.menu-config {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-piece {
  display: flex;
  gap: 10px;
}